<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Themes</key>
	<array>
		<dict>
			<key>SourceDirName</key>
			<string>Red</string>
			<key>ColorSettings</key>
			<dict>
				<key>TabBarColor</key>
				<string>221,48,51</string>
			</dict>
		</dict>
		<dict>
			<key>SourceDirName</key>
			<string>Blue</string>
			<key>ColorSettings</key>
			<dict>
				<key>TabBarColor</key>
				<string>41,110,251</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
