<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.youer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="10" />
    
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/xiangmutubiao"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cn.youer.YouErActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cn.youer.Introduce"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Online"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Phone"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.More"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Intent0"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Intent1"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Intent2"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Intent3"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Intent4"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Intent5"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Intent6"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Intent7"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Intent8"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Intent9"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Login"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Register"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.Message"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.ViewPager1"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.ViewPager2"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.ViewPager3"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.ViewPager4"
            android:label="@string/app_name" >           
        </activity>
        <activity
            android:name="com.cn.youer.ViewPager5"
            android:label="@string/app_name" >           
        </activity>
    </application>

</manifest>