<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.jiafangtuangou"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cn.jiafangtuangou.JiaFangMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.LianXiFangShi"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.ZhuCe"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.ZaiXian"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.XinXi"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.Intent0"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.Intent1"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.Intent2"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.Intent3"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.Intent4"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.Intent5"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.Intent6"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.GongSiJianJie"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.DengLu"
            android:label="@string/app_name" >
           
      </activity>
        <activity
            android:name="com.cn.jiafangtuangou.Gengduo"
            android:label="@string/app_name" >
           
      </activity>
    </application>

</manifest>